<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf - User</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<style type="text/css">
	.fieldError{color: red;}
</style>	
</head>
<body>
	<div class="container my-2">
		<h1>User Form</h1>
		<form action="#" th:action="@{/user/}" th:object="${user}" th:method="${_method}">
			<div class="form-group">
				<label for="name">序號</label>
				<input type="text" th:field="*{id}" id="id" class="form-control" />
				
				<label for="name">姓名</label>
				<span class="fieldError" th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}"></span>
				<input type="text" th:field="*{name}" id="name" class="form-control" />
				
				<label for="name">密碼</label>
				<span class="fieldError" th:if="${#fields.hasErrors('*{password}')}" th:errors="*{password}"></span>
				<input type="text" th:field="*{password}" id="password" class="form-control" />
				
				<label for="name">生日</label>
				<span class="fieldError" th:if="${#fields.hasErrors('*{birth}')}" th:errors="*{birth}"></span>
				<input type="date" th:field="*{birth}" id="birth" class="form-control" />
				
				<label for="name">身高</label>
				<span class="fieldError" th:if="${#fields.hasErrors('*{height}')}" th:errors="*{height}"></span>
				<input type="number" th:field="*{height}" id="height" class="form-control" />
				
				<label for="name">體重</label>
				<span class="fieldError" th:if="${#fields.hasErrors('*{weight}')}" th:errors="*{weight}"></span>
				<input type="number" th:field="*{weight}" id="weight" class="form-control" />
				
			</div>
		</form>
		<h1>User List</h1>
	</div>
</body>
</html>
